<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/createFoodCtrl.js"></script>
</head>
    <body>
      <div ng-app="myApp">
        <div class="container-fluid" ng-controller="createFoodCtrl">
      <h1>Create Food</h1>

       <div class="container-fluid">
          <div class="row">
            <div class="col">Name
              <input ng-model= "i_foodName"
              type = "text"
                     id = "myText"
                     value = "text here" />
            <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->
            </div>
          </div>

          <div class="row">
          <button class="btn btn-primary" ng-click="goManageFood()">Back</button>
          <button class="btn btn-primary" ng-click="insertFood()">Create</button>
          </div>
        </div>
      </div>
    </body>
</html>
