<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/createstationctrl.js"></script>
</head>
    <body>
      <div ng-app="myApp">
        <div class="container-fluid" ng-controller="createStationCtrl">
      <h1>Create Station</h1>

       <div class="container-fluid">
          <div class="row">
            <div class="col">Name
              <input ng-model="stationName" type="text" placeholder="text here"/>
            </div>
          </div>

          <div class="row">
            <div class="col">Capacity
              <input ng-model="i_Capacity" type="text" placeholder="text here"/>
            </div>
            <div class="col">Sponsored Building
              <select ng-model="statBuilding">
                <option ng-repeat="sponsorName in buildList">{{sponsorName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
          <button class="btn btn-primary" ng-click="goScreen4cs()">Back</button>
          <button class="btn btn-primary" ng-click="createStation()">Create</button>
          </div>

<!-- big table goes here -->

          {{mytest}}
          <button ng-click="getDisBitchSumData()">Best Button</button>
        </div>
      </div>
    </body>
</html>
