<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/currentinformationctrl.js"></script>
</head>
    <body>
      <div ng-app="myApp">
        <div class="container-fluid" ng-controller="currentinformationctrl">
      <h1>Explore</h1>

       <div class="container-fluid">
          <div class="row">
            <div class="col">Station</div>
            <div class="col">Station variable</div>
      </div>
      <div class="container-fluid">
         <div class="row">
           <div class="col">Building</div>
           <div class="col">Building variable</div>
     </div>
     <div class="container-fluid">
        <div class="row">
          <div class="col">Building Tag(s)</div>
          <div class="col">Building Tag variables</div>
    </div>
    <div class="container-fluid">
       <div class="row">
         <div class="col">Building Description</div>
         <div class="col">Building Description variable</div>
   </div>
   <div class="container-fluid">
      <div class="row">
        <div class="col">Balance</div>
        <div class="col">Balance variable</div>
  </div>
            <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->


<!-- big ass table here -->

          <div class="row">
          <button class="btn btn-primary" ng-click="goHome()">Back</button>
          <button class="btn btn-primary" ng-click="goOrder()">Order</button>
          </div>

          {{mytest}}
          <button ng-click="getDisBitchSumData()">Best Button</button>
        </div>
      </div>
    </body>
</html>
