<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/currentinformationctrl.js"></script>
</head>

<body>
  <div ng-app="myApp">
    <div class="container-fluid" ng-controller="currentinformationCtrl">
      <h1>Current Information</h1>
      {{customerInfo}}
      <div class="container-fluid">
        <div class="row">
          <div class="col">Station</div>
          <div class="col">{{customerInfo.stationName}}</div>
        </div>
        <div class="row">
          <div class="col">Building</div>
          <div class="col">{{customerInfo.buildingName}}</div>
        </div>
        <div class="row">
          <div class="col">Building Tag(s)</div>
          <div class="col">{{customerInfo.tags}}</div>
        </div>
        <div class="row">
          <div class="col">Building Description</div>
          <div class="col">{{customerInfo.description}}</div>
        </div>
        <div class="row">
          <div class="col">Balance</div>
          <div class="col">{{customerInfo.balance}}</div>
        </div>
      </div>
      <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->


      <!-- big ass table here -->
      <form>
        <table class="table table-striped table-hover">
          <tr>
            <th></th>
            <th>Food Truck</th>
            <th>Manager</th>
            <th>Food(s))</th>
          </tr>
          <tr ng-repeat="row in tableResult">
            <td>
              <div class="radio">
                <label class="radio-inline"><input type="radio" ng-model="$parent.selectedRow" value="{{$index}}" ng-value="$index" name="optradio"></label>
              </div>
            </td>
            <td>{{row.foodTruckName}}</td>
            <td>{{row.managerName}}</td>
            <td>{{row.foodNames}}</td>
          </tr>
        </table>
      </form>
{{tableResult}}
      <div class="row">
        <button class="btn btn-primary" ng-click="goHome()">Back</button>
        <button class="btn btn-primary" ng-click="goOrder()">Order</button>
      </div>

      {{customerInfo}}
      <button ng-click="getDisBitchSumData()">Best Button</button>
    </div>
  </div>
</body>

</html>
