<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/explorectrl.js"></script>
</head>

<body>
  <div ng-app="myApp">
    <div class="container-fluid" ng-controller="exploreCtrl">
      <h1>Explore</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col">Building Name
            <select ng-model="i_buildingName">
              <option></option>
              <option ng-repeat="sponsorName in buildingList">{{sponsorName}}</option>
            </select>
            <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->
          </div>
          <div class="col">Station Name
            <select ng-model="i_stationName">
              <option></option>
              <option ng-repeat="station in stationList">{{station}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">Building Tag (contain)
            <input type="text" placeholder="text here" ng-model="i_buildingTag" />
          </div>
          <div class="col">Food Truck Name (contain)
            <input type="text" placeholder="text here" ng-model="i_foodTruckName" />
          </div>
        </div>
      </div>
      <div class="row">
        Food (contain)
        <input type="text" placeholder="text here" ng-model="i_foodName" />
      </div>

      <div class="row">
        <button class="btn btn-primary" ng-click="doProcedure()">Filter</button>
      </div>

      <form>
        <table class="table table-striped table-hover">
          <tr>
            <th></th>
            <th>Station</th>
            <th>Building</th>
            <th>Food Truck(s)</th>
            <th>Food</th>
          </tr>
          <tr ng-repeat="row in tableResult">
            <td>
              <div class="radio">
                <label class="radio-inline"><input type="radio" ng-model="$parent.selectedRow" value="{{$index}}" ng-value="$index" name="optradio"></label>
              </div>
            </td>
            <td>{{row.stationName}}</td>
            <td>{{row.buildingName}}</td>
            <td>{{row.foodTruckNames}}</td>
            <td>{{row.foodNames}}</td>
          </tr>
        </table>
      </form>

      <!-- big ass table here -->

      <div class="row">
        <button class="btn btn-primary" ng-click="goHome()">Back</button>
        <button class="btn btn-primary" ng-click="setLocation()">Set As Current Location</button>
      </div>
    </div>
  </div>
</body>

</html>
