<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/foodtrucksummaryctrl.js"></script>
</head>

<body>
  <div ng-app="myApp">
    <div class="container-fluid" ng-controller="foodtrucksummaryCtrl">
      <h1>Food Truck Summary</h1>

      <div class="container-fluid">
        <div class="row">
          <div class="col">Food Truck Name (contain)
            <input type="text" ng-model="foodTruckName"/>
          </div>
          <div class="col">Station Name
            <select ng-model="i_stationName">
              <option ng-repeat="stat in statList">{{stat.stationName}}</option>
            </select>
            <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->
          </div>
        </div>


        <div class="row">
          <div class="col">Date
            <input type="date" ng-model="i_minDate"/> - 
            <input type="date"  ng-model="i_maxDate" />
          </div>
        </div>

        <button class="btn btn-primary" ng-click="doSort()">Filter</button>

        <!-- big ass table here -->
        <form>
          <table class="table table-striped table-hover">
            <tr>
              <th></th>
              <th><button class="btn btn-primary" ng-click="doSort('foodTruckName')">Food Truck Name</button></th>
              <th><button class="btn btn-primary" ng-click="doSort('totalOrder')"># Total Order</button></th>
              <th><button class="btn btn-primary" ng-click="doSort('totalRevenue')">Total Revenue</button></th>
              <th><button class="btn btn-primary" ng-click="doSort('totalCustomer')"># Customer</button></th>
            </tr>
            <tr ng-repeat="row in tableResult">
              <td>
                <div class="radio">
                  <label class="radio-inline"><input type="radio" ng-model="$parent.selectedRow" value="{{$index}}" name="optradio" ng-click="whichTruck()"></label>
                </div>
              </td>
              <td>{{row.foodTruckName}}</td>
              <td>{{row.totalOrder}}</td>
              <td>{{row.totalRevenue}}</td>
              <td>{{row.totalCustomer}}</td>
            </tr>
          </table>
        </form>
        <div class="row">
          <button class="btn btn-primary" ng-click="goHome()">Back</button>
          <button class="btn btn-primary" ng-click="goSummary()">View Detail</button>
        </div>
      </div>
    </div>
</body>
</html>
