<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/homectrl.js"></script>
</head>
    <body>
      <div align="center" class="container-fluid">
        <div ng-app="myApp">
          <div class="container-fluid" ng-controller="homeCtrl">
            {{mytest}}
        <h1>Home</h1>
        <div class="container-fluid">
            <div class="row">
              <button class="btn btn-primary" style="margin: 20px" ng-click="goExplore()">Explore</button>
              <button class="btn btn-primary" style="margin: 20px" ng-click="goViewOrder()">View Order History</button>
              <button class="btn btn-primary" style="margin: 20px" ng-click="goViewInfo()">View Current Information</button>
            </div class="btn-toolbar">
            </div class="row">
          <div class="row">
            <button class="btn btn-primary" style="margin: 20px" ng-click="goManageTrucks()">Manage Food Truck</button>
            <button class="btn btn-primary" style="margin: 20px" ng-click="goViewTrucks()">View Food Truck Summary</button>
          </div class="row">
          <div class="row">
            <button class="btn btn-primary" style="margin: 20px" ng-click="goManageBldgStat()">Manage Building & Station</button>
            <button class="btn btn-primary" style="margin: 20px" ng-click="goManageFood()">Manage Food</button>
          </div class="row">
        </div>
      </div>
    </body>
    {{username}}
    {{customerLoc}}
</html>
