<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/myappctrl.js"></script>
</head>
<body>
  <div ng-app="myApp">
    <div class="container-fluid" ng-controller="myAppCtrl">
      <!--<table class="table table-striped table-hover">
        <tr ng-repeat="person in myTable.people">
          <td>{{person.firstname}}</td>
          <td>{{person.lastname}}</td>
        </tr>
      </table>-->
      {{mytest}}
      <button ng-click="getDisBitchSumData()">Best Button</button>
      <a href='Login.html'>Screen1</a>
      <a href='Register.html'>Screen2</a>
      <a href='Home.html'>Screen3</a>
      <a href='ManageBldgStation.html'>Screen4</a>
      <a href='CreateBldg.html'>Screen5</a>
      <a href='UpdateBldg.html'>Screen6</a>
      <a href='CreateStation.html'>Screen7</a>
      <a href='UpdateStation.html'>Screen8</a>
      <a href='ManageFood.html'>Screen9</a>
      <a href='CreateFood.html'>Screen10</a>
      <a href='ManageFoodTruck.html'>Screen11</a>
      <a href='CreateFoodTruck.html'>Screen12</a>
      <a href='UpdateFoodTruck.html'>Screen13</a>
      <a href='FoodTruckSummary.html'>Screen14</a>
      <a href='SummaryDetail.html'>Screen15</a>
      <a href='Explore.html'>Screen16</a>
      <a href='CurrentInformation.html'>Screen17</a>
      <a href='Order.html'>Screen18</a>
      <a href='OrderHistory.html'>Screen19</a>
    </div>
  </div>
</body>
</html>
