<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/managefoodtruckctrl.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div ng-app="myApp">
    <div class="container-fluid" ng-controller="managefoodtruckCtrl">
      <h1>Manage Food Truck</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col">Food Truck Name (contain)
            <input type="text" placeholder="text here" ng-model="i_foodTruckName" />
          </div>
          <div class="col">Station Name
            <select ng-model="i_stationName">
              <option ng-repeat="stat in stationList">{{stat}}</option>
            </select>
            <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->
          </div>
        </div>


        <div class="row">
          <div class="col">Staff Count
            <input type="number" id="myText" min=0 ng-model="i_minStaffCount" />
            <input type="number" id="myText" min=0 ng-model="i_maxStaffCount" />
          </div>
          {{i_minStaffCount}}
          {{i_maxStaffCount}}
        </div>
        <input type="checkbox" name="Has Remaining Capacity" ng-model="i_hasRemainingCapacity" checked="false">
        <label for="check1"> Has Remaining Capacity</label><br>
        <button class="btn btn-primary" ng-click="doProcedure()">Filter</button>

        <form>
          <table class="table table-striped table-hover">
            <tr>
              <th></th>
              <th>Food Truck Name (contain)</th>
              <th>Station Name</th>
              <th>Remaining Capacity</th>
              <th>Staff(s)</th>
              <th>#Menu Item</th>
            </tr>
            <tr ng-repeat="row in tableList">
              <td>
                <div class="radio">
                  <label class="radio-inline"><input type="radio" ng-model="$parent.selectedRow" value="{{$index}}" ng-value="$index" name="optradio"></label>
                </div>
              </td>
              <td>{{row.foodTruckName}}</td>
              <td>{{row.stationName}}</td>
              <td>{{row.remainingCapacity}}</td>
              <td>{{row.staffCount}}</td>
              <td>{{row.menuItemCount}}</td>
            </tr>
          </table>
        </form>
        <!-- big ass table here -->

        <div class="row">
          <button class="btn btn-primary" ng-click="goHome()">Back</button>
          <button class="btn btn-primary" ng-click="goCreateTruck()">Create</button>
          <button class="btn btn-primary" ng-click="updateTruck()">Update</button>
          <button class="btn btn-primary" ng-click="deleteTruck()">Delete</button>
                  <div class="alert alert-danger" ng-show="noStatMsgFlag">
                    <strong>ERROR:</strong> Select a station to update!
                  </div>

        </div>

        {{mytest}}
        <button ng-click="getDisBitchSumData()">Best Button</button>
      </div>
    </div>
</body>

</html>

query = select * from ad_filter_building_station_result
call ad_filter_building_station (i_buildingName, i_buildingTag, i_stationName, i_minCapacity, i_maxCapacity);
CREATE PROCEDURE ad_filter_building_station(
IN i_buildingName VARCHAR(50),
IN i_buildingTag VARCHAR(50),
IN i_stationName VARCHAR(50),
IN i_minCapacity INT,
IN i_maxCapacity INT)

INSERT INTO ad_filter_building_station_result
