<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/managefoodtruckctrl.js"></script>
</head>
    <body>
      <div ng-app="myApp">
        <div class="container-fluid" ng-controller="managefoodtruckctrl">
      <h1>Manage Food Truck</h1>

       <div class="container-fluid">
        <div class="row">
         <div class="col">Food Truck Name (contain)
           <input type = "text"
                  id = "myText"
                  value = "text here" />
         </div>
            <div class="col">Station Name
              <select id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
            <!--  <input type = "text"
                     id = "myText"
                     value = "text here" ng-model="i_buildingName"/> -->
            </div>
          </div>


          <div class="row">
            <div class="col">Staff Count
              <input type = "text"
                     id = "myText"
                     value = "text here" />
                     <input type = "text"
                            id = "myText"
                            value = "text here" />
            </div>
          </div>
          <input type="checkbox" id="check1" name="Has Remaining Capacity" value="Has Remaining Capacity">
          <label for="check1"> Has Remaining Capacity</label><br>
          <button class="btn btn-primary">Filter</button>

<!-- big ass table here -->

          <div class="row">
          <button class="btn btn-primary" ng-clicked="goHome()">Back</button>
          <button class="btn btn-primary">Create</button>
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-primary">Delete</button>
          </div>

          {{mytest}}
          <button ng-click="getDisBitchSumData()">Best Button</button>
        </div>
      </div>
    </body>
</html>

query = select * from ad_filter_building_station_result
call ad_filter_building_station (i_buildingName, i_buildingTag, i_stationName, i_minCapacity, i_maxCapacity);
CREATE PROCEDURE ad_filter_building_station(
				IN i_buildingName VARCHAR(50),
				IN i_buildingTag VARCHAR(50),
        IN i_stationName VARCHAR(50),
        IN i_minCapacity INT,
        IN i_maxCapacity INT)

	INSERT INTO ad_filter_building_station_result
