<!DOCTYPE html>
<html lang="en">

<head>
  <title>updatebldg (Screen8)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../js/modules/myapp.js"></script>
  <script src="../js/controllers/updatebldgctrl.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div ng-app="myApp">
    <div class="container-fluid" ng-controller="updatebldgCtrl">
      <h1>Update Building</h1>


      <!-- big table goes here -->
      <p>
        <label>Name</label>
        <input ng-model="buildingName" type="text" id="myText" value="text here" />

      </p>
      <p>
        <label>Description</label>
        <textarea ng-model="buildDescr" type="text" id="myText"></textarea>
      </p>
      <p>
        <label>Tags</label>
        {{tagData}}
        <table>
          <tr ng-repeat="tag in tagData">
            <td>{{tag}}</td>
            <td><button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i>
              </button></td>
            <td><button type="button" class="btn btn-primary" ng-click="removeTag(tag)">
                <i class="fa fa-minus"></i>
              </button></td>
          </tr>
          <tr>
            <td><input type="text" ng-model="newTag" /></td>
            <td><button type="button" class="btn btn-primary" ng-click="addTag()">
                <i class="fa fa-plus"></i>
              </button></td>
            <td></td>
          </tr>
        </table>
      </p>


      <div class="row">
        <button class="btn btn-primary" ng-click="goScreen4()">Back</button>
        <button class="btn btn-primary" ng-click="updateBuilding()">Update</button>
      </div>

      {{mytest}}
      <button ng-click="getDisBitchSumData()">Best Button</button>
    </div>
</body>

</html>
